<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>290377012183-ph8li4aai1sp7unbsfjcjplnvrrsf54l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290377012183-ph8li4aai1sp7unbsfjcjplnvrrsf54l</string>
	<key>API_KEY</key>
	<string>AIzaSyCMudidGjkEaNLbV9uKLx3qZ5pl7WD4SwM</string>
	<key>GCM_SENDER_ID</key>
	<string>290377012183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hcmute.edu.pm.SmartLamp</string>
	<key>PROJECT_ID</key>
	<string>smartlamp-2a6ac</string>
	<key>STORAGE_BUCKET</key>
	<string>smartlamp-2a6ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290377012183:ios:2c5456285daf5e6c</string>
	<key>DATABASE_URL</key>
	<string>https://smartlamp-2a6ac.firebaseio.com</string>
</dict>
</plist>